.button-row {
  display: flex;
  gap: 15px;
  padding: 3px 8px;
  background: #ece9d8;
  justify-content: center;
  margin-bottom: 10px;
}

.button-row button {
  background: linear-gradient(180deg, #f0f0f0 0%, #e7e7e7 100%);
  padding: 4px 8px;
  margin: 0;
  border: 1px solid #000000;
  box-sizing: border-box;
  font-size: 11px;
  height: 16px;
  display: flex;
  align-items: center;
  color: #000;
  text-align: left;
  min-width: max-content;
  border-radius: 6px;
  cursor: pointer;
  font-family: "Microsoft Sans Serif";
}

.button-row button:hover {
  background: linear-gradient(to bottom, #f0f0f0, #d0d0d0);
}

.button-row button:active {
  background: linear-gradient(to bottom, #dfdfdf, #ffffff);
}
