@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0; /* Remove default margins */
  background-color: #efefef; /* Set page-wide background color */
  font-family: Arial, sans-serif; /* Optional: Ensure consistent font */
}

h1 {
  background: #92aec7;
  color: white;
  margin: 0;
  font-size: 18px;
  color: #000;
  padding: 0px 10px;
  font-family: "Microsoft Sans Serif";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 18px */
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
